<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2>PERFIL</h2>
      </div>
      <div class="card-body">

        <form class="mt-3 col-md-12" (ngSubmit)="onSave(adminForm.value)" [formGroup]="adminForm">
          <div class="row">
            <div class="col-md-3">
              <img [src]="fotoUser" alt="Suba una foto" width="100%">
                  <input type="file" class="form-control" formControlName="foto"  placeholder="Suba una foto">
                  <div class="spinner-border" role="status" *ngIf="progreso==true">
                    <span class="visually-hidden" >Cargando...</span>
                  </div>
                  <input #FotoUrlUser  type="text" [value]="urlFoto |async" >
                  <br>
                  <button class="btn-danger"><i class="cil-trash"></i> Eliminar</button>
            </div>

            <div class="col-md-9">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Nombres: </label>
                  <input type="text" class="form-control" formControlName="nombre" placeholder="{{admin.nombre}}">                
                </div>
                <div class="form-group col-md-6">
                  <label>Apellidos: </label>
                  <input type="text" class="form-control"  placeholder="{{admin.apellido}}" formControlName="apellido">                
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Email: </label>
                  <input class="form-control" type="email" placeholder="{{admin.email}}" disabled formControlName="email">
                </div>
                <div class="form-group col-md-6">
                  <label>Teléfono: </label>
                  <input class="form-control" type="number" placeholder="{{admin.telefono}}" formControlName="telefono">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Número Único: </label>
                  <input class="form-control" type="number" placeholder="{{admin.numUnico}}" formControlName="numUnico">
                </div>
                <div class="form-group col-md-6">
                  <label>Contraseña: </label>
                  <input class="form-control" type="text" placeholder="{{admin.password}}" formControlName="password">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Semestre: </label>
                  <select class="form-control" formControlName="semestreRef">
                    <option selected>{{admin.semestreRef}}</option>
                    <option value="1">1ro</option>
                    <option value="2">2do</option>
                    <option value="3">3ro</option>
                    <option value="4">4to</option>
                    <option value="5">5to</option>
                    <option value="6">Egresado o Graduado</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Carrera: </label>
                  <select class="form-control" formControlName="carreraNombre">
                    <option select>{{admin.carreraNombre}}</option>
                    <option value="TS- Agua y Saneamiento Ambiental">TSASA - Agua y Saneamiento Ambiental</option>
                    <option value="TS- Desarrollo de Software">TSDS - Desarrollo de Software</option>
                    <option value="TS- Redes y Telecomunicaciones">TSRT - Redes y Telecomunicaciones</option>
                    <option value="TS- Electromecánica ">TSEM - Electromecánica</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" value="Administrador" formControlName="rol"
                  disabled>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="{{admin.id}}" formControlName="id"
                  disabled>
                </div>

              </div>

            </div>



          </div>

          <button type="submit" class="btn bg-success btn-block text-light">Guardar</button>

        </form>
      </div>
    </div>
  </div>
</div>