<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2>PERFIL</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 15rem;">
              <img src="assets/img/imagenes/user.png" class="img-fluid" alt="imagen">
              <div class="card-body">
                <input type="file" class="form-control-file" id="foto">
                <br>
                <button class="btn-danger"><i class="cil-trash"></i> Eliminar</button>
              </div>
            </div>
          </div>
          <div class="col-8">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Nombres</label>
                  <input type="text" class="form-control" id="names" value="{{admin.nombre}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Apellidos</label>
                  <input type="text" class="form-control" id="lastnames" value="{{admin.apellido}}" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Email</label>
                  <input class="form-control" type="email" value="{{admin.email}}" id="email" disabled>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Teléfono</label>
                  <input class="form-control" type="text" value="{{admin.telefono}}" id="telef">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Número Único</label>
                  <input class="form-control" type="text" value="{{admin.numUnico}}" id="numUnico">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Contraseña</label>
                  <input class="form-control" type="password" value="{{admin.password}}" id="password">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="semestreRef">semestreRef</label>
                  <select class="form-control" id="semestreRef">
                    <option>{{admin.semestreRef}}</option>
                    <option>ET</option>
                    <option>ASA</option>
                    <option>TELE</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="carrera">Carrera</label>
                  <select class="form-control" id="carrera">
                    <option>{{admin.carrera}}</option>
                    <option>ET</option>
                    <option>ASA</option>
                    <option>TELE</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-success" type="submit">Guardar Cambios</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>