<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="text-align: center;">
      <h2><i class="cil-school"></i> Carreras</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>Seleccione una carrera para ver las materias: </h5>
        </div>
<br>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-md-6">
          <a href="#/carreras/sistemas">
            <i class="cil-devices" style="color: blue; font-size: 140px;">
            <h4>Desarrollo de Software</h4>
            </i>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#/carreras/electromecanica">
            <i class="cil-settings" style="color: gray; font-size: 140px;">
            <h4>Electromecánica</h4>
            </i>
          </a>
        </div>

      </div>

      <br>
      <div class="row" style="text-align: center;">
        <div class="col-md-6">
          <a href="#/carreras/redes">
            <i class="cil-rss" style="color: green; font-size: 140px;">
            <h4>Redes y Telecomunicaciones</h4>
            </i>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#/carreras/ambiental">
            <i class="cil-drop" style="color: #20a8d8; font-size:140px;">
            <h4>Agua y Saneamiento ambiental</h4>
            </i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>