<div class="animated fadeIn">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h2><i class="cil-devices"></i> Desarrollo de Software</h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <h5>Semestres: </h5>
                    <select class="form-control" id="semestre1" style="width: 50%;">
                        <option>1er Semestre</option>
                        <option>2do Semestre</option>
                        <option>3er Semestre</option>
                        <option>4to Semestre</option>
                        <option>5to Semestre</option>
                    </select>
                    <br>
                    <h5>Lista de materias: </h5>
                    <table class="table" style="width: 75%;">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><a href="#/carreras/materias"> Programación</a></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Redes</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Base de datos</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Algoritmos</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Interfaces</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Tics</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>POO</td>
                          </tr>
                        </tbody>
                      </table>

                </div>
                <div class="col-md-6">
                    <h5>Crear Materia</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nombre</label>
                                <input type="text" class="form-control" id="names" placeholder="Redes II" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="carrera">Semestre</label>
                                <select class="form-control" id="semestre2">
                                    <option>1er Semestre</option>
                                    <option>2do Semestre</option>
                                    <option>3er Semestre</option>
                                    <option>4to Semestre</option>
                                    <option>5to Semestre</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="foto">Descripción</label>
                                <input type="text" class="form-control-file" id="descrip">
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <button class="btn btn-success" type="submit">Crear materia</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>