

ion-icon{
  --color-checked:red;
}
h2{
  font-weight: bold;
}

input{
  border: none;
}

.titulo{
  font-weight: bold;
}


.spacing{

  height: 40px;

  }

  .favoritoFalse{
    color: rgba(83, 81, 87, 0.397);
  }
  .favoritoTrue{
color: rgba(255, 0, 0, 0.616);
  }
.deletePubli{
  color: rgb(245, 50, 50);
}

.popover-content {
  background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.alerClass .popover-content {
  background: rgb(212, 65, 65);
}

.alerClass {
  background: #dd8b8b !important;
  color: #ffffff;
}


button{
  background-color: #115571;
    color: #ffffff;
    height: 30px;
    border-radius: 8px;
}

ion-button{
  background: none;
}
ion-fab-button{
  --color: black;
}
.eyeInf{
  --background: rgb(144,237,217);
  --background: radial-gradient(circle, rgba(144,237,217,1) 29%, rgba(17,85,113,1) 100%);
}

.coments{
  --background: rgb(181,244,181);
  --background: radial-gradient(circle, rgba(181,244,181,1) 29%, rgba(17,85,113,1) 100%);
}

.dislike{
  --background: rgb(216,216,216);
--background: radial-gradient(circle, rgba(216,216,216,1) 29%, rgba(17,85,113,1) 100%);

}

.like{
  --background: rgb(117,152,238);
--background: radial-gradient(circle, rgba(117,152,238,1) 29%, rgba(17,85,113,1) 100%);
}

.moreoption{
  --background: #90edd9;
}
