
ion-icon{
  --color-checked:red;
}
h2{
  font-weight: bold;
}

input{
  border: none;
}

.titulo{
  font-weight: bold;
}


.spacing{

  height: 40px;

  }

  .favoritoFalse{
    color: rgba(83, 81, 87, 0.397);
  }
  .favoritoTrue{
color: rgba(255, 0, 0, 0.616);
  }
