
ion-icon{
  --color-checked:red;
}
h2{
  font-weight: bold;
}

input{
  border: none;
}

.titulo{
  font-weight: bold;
}



.comentario{
font-size:11px ;
}
.spacing{

  height: 40px;

  }

.fixed {
  right: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
 }
