<ion-header>
  <ion-toolbar>
    <ion-title>{{publiDetalle.titulo}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <div slot="end" style="padding:0; margin: 0px">
      <button (click)="addFavorite(favorito)"  style="background: none; font-size:25px;">
        <ion-icon *ngIf="favoritoAdd==false" class="favoritoFalse" name="heart"></ion-icon>
        <ion-icon *ngIf="favoritoAdd==true" class="favoritoTrue" name="heart"></ion-icon>
      </button>
    </div>
    <ion-chip  style="background: rgba(77, 226, 194, 0.623); color: #115571; width: -webkit-fill-available;">
      <ion-text class="ion-text-center titulo">{{publiDetalle.titulo}}</ion-text>      
    </ion-chip>
  </ion-item>


  <div class="container">   


    <p><b>Materia: </b>{{nombreMateria}}</p>

    <ion-label class="ion-text-capitalize"><b>Autor: </b>{{publiDetalle.nameUser}} {{publiDetalle.apellUser}}</ion-label>
    <br>

    <div class="ion-text-center">
      <img src="/assets/icon/viewfile.png" width="30%" alt="">

      <button type="button" (click)="openFile(publiDetalle.file)">
        Descargar
      </button>
    </div>
    <p>{{publiDetalle.descripcion}} </p>





    <ion-segment>
      <ion-button class="like" shape="round" size="small"  icon-start (click)="btnLike(publiDetalle)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        {{publiDetalle.likes}}
      </ion-button>
     

      <ion-button shape="round" class="dislike"  size="small" ion-button clear small icon-start >
        <ion-icon name="thumbs-down-outline"></ion-icon>
        <ion-label>{{publiDetalle.disLikes}}</ion-label>
      </ion-button>
    

      <ion-button shape="round" class="coments" routerLink="/menu/detalle-tarea" size="small"  clear small icon-start>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <div>
          <ion-label>#</ion-label>
        </div>
      </ion-button>

      <ion-button shape="round" (click)="presentPopover($event, publiDetalle)"  size="small" clear small icon-start>
        <ion-icon name="ellipsis-horizontal"></ion-icon>       
      </ion-button>

    </ion-segment>
    <hr>

    <app-comentarios ></app-comentarios>

    <div class="spacing"></div>



  </div>
</ion-content>