<ion-header>
  <ion-toolbar>
    <ion-title>{{publiDetalle.titulo}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <div slot="end" style="padding:0; margin: 0px">
      <button (click)="addFavorite(favorito)" style="background: none; font-size:medium;">
        <ion-icon *ngIf="favoritoAdd==false" class="favoritoFalse" name="heart"></ion-icon>
        <ion-icon *ngIf="favoritoAdd==true" class="favoritoTrue" name="heart"></ion-icon>
      </button>
    </div>
    <ion-chip  style="background: rgba(77, 226, 194, 0.623); color: #115571; width: -webkit-fill-available;">
      <ion-text class="ion-text-center titulo">{{publiDetalle.titulo}}</ion-text>      
    </ion-chip>
  </ion-item>


  <div class="container">   


    <p><b>Materia: </b>{{nombreMateria}}</p>

    <ion-label class="ion-text-capitalize"><b>Autor: </b>{{publiDetalle.nameUser}} {{publiDetalle.apellUser}}</ion-label>
    <br>

    <div class="ion-text-center">
      <img src="/assets/icon/viewfile.png" width="30%" alt="">

      <button type="button" (click)="openFile(publiDetalle.file)">
        Descargar
      </button>
    </div>
    <p>{{publiDetalle.descripcion}} </p>





    <ion-segment>
      <ion-chip (click)="btnLike(publiDetalle)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <ion-label>{{publiDetalle.likes}}</ion-label>
      </ion-chip>

      <ion-chip>      
        <ion-icon name="thumbs-down-outline"></ion-icon>
        <ion-label>{{publiDetalle.disLikes}}</ion-label>     
    </ion-chip>

      <ion-chip>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>34</ion-label>
      </ion-chip>


      <!-- <ion-chip>
      <ion-icon name="heart-outline" (click)="addFavorite()"></ion-icon>
    </ion-chip> -->


      <ion-chip (click)="presentPopover($event, publiDetalle)">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-chip>

    </ion-segment>
    <hr>

    <app-comentarios></app-comentarios>

    <div class="spacing"></div>



  </div>
</ion-content>