<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2>Estudiantes Bloqueos</h2>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary mt-2" (click)="onGoBackToList()">
              Regresar a la lista
            </button>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" *ngFor="let item of Usuarios$ | async">
                <th scope="row">{{item.nombre}} {{item.apellido}}</th>
                <td role="group">
                  <button type="button" class="btn btn-outline-success m-1" (click)="onGoToSee(item)">
                    <i class="cil-info" style="color: green;"> Ver Información</i>
                  </button>

                  <button type="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(item.id)">
                    <i class="cil-trash" style="color: red;"> Eliminar</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
