<ion-item style="background: none;">
  <ion-label>Términos y condiciones</ion-label>
  <button slot="end" (click)="salirModal()" style="background: none; color: blue;"> <b>Cerrar</b> </button>
</ion-item>


 
<ion-content>
<div class=" container ion-text-justify">

  <p>
  Para ingresar a la aplicación los usuarios deberán previamente descargar la aplicación móvil de la Play Store disponible únicamente para Ecuador.</p>
  <p>La aplicación móvil esta enfocada para los estudiantes de la Escuela de Formación de Tecnólogos por lo que el registro de usuario se debe realizar con un correo de la Escuela Politécnica Nacional con dominio epn.edu.ec</p>

<b>Mis responsabilidades:</b>

<p>Al ingresar a la aplicación soy responsable del contenido que publico tanto en los comentarios como publicaciones.</p>
<p>Si reporto una publicación debe estar fundamentado el motivo del reporte, una publicación debe incluir faltas graves para ser reportado por ejemplo si una publicación contiene información que no se relaciona con el tema de la carrera, si incluye archivos no apropiados, en caso que no contenga un archivo y sea realmente necesario, en caso de incluir palabras obscenas o inapropiadas, etc.</p>
<p>Si reporto un comentario, del mismo modo que una publicación debo fundamentar el motivo del reporte.</p>
<p>Si comento una publicación lo debo realizar de una forma respetuosa siguiendo la temática que trata la publicación o la temática del comentario anterior. </p>
<p>Mis comentarios deben dar respuesta a una problemática planteada por mis compañeros y los debo realizar con el mismo respeto que yo merezco. </p>
<p>Los documentos e imágenes que se carguen en la aplicación deben ser de buena calidad, en el caso de las imágenes y documentos escaneados.</p>
<b> Responsabilidades del super Administrador:</b>
<p>El superadministrador será el responsable de verificar la veracidad de los reportes realizados por los estudiantes, en caso que el estudiante reporte comentarios o publicaciones sin un fundamente válido al menos 5 veces será bloqueado. </p>
<p>El superadministrador certifica un estudiante por su buen comportamiento en la aplicación, es decir, reporta publicaciones o comentarios de otros usuarios, comenta brindando soluciones optimas e importantes para sus compañeros, califica la ayuda de sus compañeros entre otras.</p>

<b> Bloqueo de estudiante:</b>
<p>La cuenta de este usuario puede ser bloqueada y no puede acceder a la aplicación por un tiempo determinado o indefinido según lo considere el superadministrador.</p>
<p>En el caso que mis publicaciones o comentarios hayan sido reportados al menos 3 veces mi cuenta puede ser bloqueada, las dos primeras únicamente el contenido será eliminado de la aplicación.</p>
<b>Estudiante Certificado.</b>
<p>Al superadministrador certificar un estudiante, el estudiante puede acceder al sistema desde el sitio web en la siguiente url => <a href="https://tesis-3fc38.web.app/">Web App</a>  o seguir ingresando desde la aplicación móvil. </p>
<p>Al ser un estudiante certificado no únicamente tiene acceso a su carrera sino también al resto de carreras y materias registradas en el sistema por ende es responsable del contenido que publica en este sitio y a su vez puede ser retirado los privilegios de acceso. </p>

<i>El estudiante acepta el seguimiento de sus actividades que realizará a partir de este momento dentro de esta aplicación. 

</i> 
<br>
<br>
<br>
<br>
<br>

</div>
</ion-content>
