<ion-header >
  <ion-toolbar >
    <ion-title>Favoritos</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card [hidden]=favoritos>
  <ion-card-content>
    <ion-label> No hay Favoritos en su colección</ion-label>
  </ion-card-content> 
</ion-card>

  <div *ngFor="let fav of publicacion">
    <ion-card >
    
      <ion-grid>
         <ion-row>
          <ion-col class="ion-align-self-center">
            <img src="/assets/icon/pdf.png" alt="file.png">
          </ion-col>
          <ion-col size="8"  class="ion-text-center">
            
            <h3>{{fav.titulo}}</h3>
            <ion-label>{{fav.nameMateria}}</ion-label>
            <ion-list>
              <ion-button color="light" size="small" (click)="openFile(fav.file)" ><ion-icon name="download"></ion-icon></ion-button>
              <ion-button color="light"  size="small" (click)="deleteFavorito(fav)"><ion-icon  class="heart" name="heart-dislike"></ion-icon></ion-button>
            </ion-list>


          </ion-col >
          <ion-col size="2" class="ion-align-self-center"  >
            <a (click)="infoTarea(fav)">
           <ion-icon name="arrow-forward"></ion-icon>
          </a>
          </ion-col>
        </ion-row>

      </ion-grid>
  </ion-card>
</div>


</ion-content>

