
ion-content{  
    --background: url('https://i.pinimg.com/736x/d9/b1/1f/d9b11f6199a21ab2dd5564d3c5c206d1.jpg') no-repeat center center / cover;
  
  }
  
  ion-card{
    color: black;
  }

  ion-button{
   --background: #90edd9;
  }