<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form >
    <div class="form-group">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required  [formControl]="email" ></ion-input>
      <small *ngIf="email.errors?.required" role="alert">
        * Ingrese su correo.
      </small>
    </ion-item>
  </div>
    <ion-row>
      <ion-col>
        <ion-button  type="button" (click)="onReset()" class=" mt-5" color="danger" expand="block" >Enviar</ion-button>

      </ion-col>
    </ion-row>
    <div class="ion-text-center">
    <a href="/login">Iniciar sesión!</a>
  </div>

  </form>


</ion-content>
