<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center" >
  <ion-card style="top: 10%; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;">


  <form >
    <div class="form-group">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required  [formControl]="email" ></ion-input>
      <small *ngIf="email.errors?.required" role="alert">
        * Ingrese su correo.
      </small>
    </ion-item>
  </div>
    <ion-row>
      <ion-col>
        <ion-button  type="button" (click)="onReset()" class=" reset mt-5" expand="block" >Enviar</ion-button>

      </ion-col>
    </ion-row>
    <div class="ion-text-center">
    <a routerLink="/login">Iniciar sesión!</a>
  </div>

  </form>
</ion-card>

</ion-content>
