<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2>Estudiantes</h2>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" (click)="onGoToNew()">Agregar Nuevo</button>
          </div>
          <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-dark" (click)="onGoToBlock2()">Estudiantes Bloqueados</button>
          </div>
        </div>
        <br>

        <div class="table-responsive">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" *ngFor="let item of Usuarios$ | async">
                <th scope="row">{{ item.nombre}} {{item.apellido}}</th>
                <td role="group">
                  <button type="button" class="btn btn-outline-success m-1" (click)="onGoToSee(item)">
                    <i class="cil-info" style="color: green;"> Información</i>
                  </button>

                  <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item)">
                    <i class="cil-pencil" style="color: #c29305;"> Editar</i>
                  </button>

                  <button type="button" class="btn btn-outline-dark m-1" (click)="onGoToBlock(item)">
                    <i class="cil-ban" style="color: black;"> Bloquear</i>
                  </button>

                  <button type="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(item.id)">
                    <i class="cil-trash" style="color: red;"> Eliminar</i>
                  </button>

                  <button type="button" class="btn btn-outline-info m-1" (click)="onGoToAdmin(item)">
                    <i class="cil-star" style="color: #63c2de;"> Certificar</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>