ion-content{
  --background: url('/assets/background/perfil.png') no-repeat center center / cover;

}
.bnt-perfil{
 margin-top: 70%;
}

ion-avatar{
margin-top: 150px;
}

.btn_eye_icon{
  position: absolute;
  right: 0;
  bottom: 4px;
  background: transparent;
  ion-icon{
      font-size: 22px;
      color:#757575;
  }
}

.btn_eye_icon:focus{
  outline: none  !important;
}

a{
  text-decoration: none;
  color: black;
}
.buttonCard{
  height: 65px;
}
img{
position: fixed;
border-radius: 50%;
width: 30%;
top: 23%;
left: 32%;;
}