ion-content{
  --background: url('https://cdn.pixabay.com/photo/2013/02/21/19/10/background-84635_960_720.jpg') no-repeat center center / cover;

}
.bnt-perfil{
  margin-top: 65%;
}

ion-avatar{
margin-top: 150px;
}


