ion-content{
  --background: url('https://cdn.pixabay.com/photo/2013/02/21/19/10/background-84635_960_720.jpg') no-repeat center center / cover;

}
.bnt-perfil{
  margin-top: 65%;
}

ion-avatar{
margin-top: 150px;
}

.btn_eye_icon{
  position: absolute;
  right: 0;
  bottom: 4px;
  background: transparent;
  ion-icon{
      font-size: 22px;
      color:#757575;
  }
}

.btn_eye_icon:focus{
  outline: none  !important;
}

a{
  text-decoration: none;
  color: black;
}
.buttonCard{
  height: 65px;
}