<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
    <!-- Content -->
    <ion-row>

      <ion-col>
        <div class="position-absolute top-100 start-50 translate-middle "><ion-avatar class="ion-margin-start">
          <img src="/assets/img/marty-avatar.png">
        </ion-avatar></div>
      </ion-col>

    </ion-row>



    <ion-row class="bnt-perfil">
      <ion-col >

        <div class="ion-text-center">
          <i class="fas fa-comment"></i>
          <br>
          <ion-label>Mensajes</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          <i class="fas fa-file-alt"></i>
          <br>
          <ion-label>Archivos subidos</ion-label>

        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          <i class="fas fa-star"></i>
          <br>
          <ion-label>Puntuación</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-card-header>
        <ion-chip>
          <ion-label>{{usuario}}</ion-label>
        </ion-chip>

        <ion-card-title>{{user.nombre}} {{user.apellido}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Telefono</ion-label>
          <ion-note slot="end">{{user.telefono}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Num.Unico</ion-label>
          <ion-note slot="end">{{user.numeroUnico}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Carrera</ion-label>
          <ion-note slot="end">{{user.carrera}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Semestre</ion-label>
          <ion-note slot="end">{{user.semestreRef}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-note slot="end" type="password">{{user.password}}</ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>



</ion-content>
