<ion-header no-border>
  <ion-toolbar>
    <ion-title>Materias</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
   <!--  <ion-app>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-avatar>
              <img src="/assets/img/logo.png">
            </ion-avatar>
            <ion-label>Programación</ion-label>

        </ion-col>
        <ion-col>
          <ion-avatar>
            <img src="/assets/img/logo1.png">
          </ion-avatar>
          <ion-label>Algoritmos y Estructura de datos</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img src="/assets/img/logo1.png">
          </ion-avatar>
          <ion-label>Fisica</ion-label>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img src="/assets/img/logo.png">
          </ion-avatar>
          <ion-label>Introduccion a TICs</ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-app> -->

<img src="" alt="">
    <ion-row>
      <ion-col *ngFor="let item of listaMaterias |filtro: textoBuscar let i = index"  routerLink="/detalle-materia">
        <ion-badge color="warning">{{i+1}}</ion-badge>
        <ion-avatar>
          <img src="/assets/img/logo.png">
        </ion-avatar>
        <h6>{{item.nombre}}</h6>
        <small>Nivel: {{item.nivel}}</small>
      </ion-col>

    </ion-row>
</ion-content>


