
ion-segment-button {
  --indicator-box-shadow: transparent !important;
  --color:rgba(0, 0, 0, 0.527);
  --background-checked: white;
  --color-checked:#115571;
  border-radius: 8px;
  margin: 0;
  font-size: 24px;
}

ion-segment{
  background-color: #f3f4ff;
}
ion-content{
  --background: url('https://i.pinimg.com/736x/90/24/b6/9024b60c2c1fa7153f565a311305bfe2.jpg') no-repeat center center / cover;
 --color:white
}

 ion-col, ion-card-content{
   padding: 0;
   margin: 0;

 }


small{
  color: blue;
}

ion-card{
  box-shadow: 5px 5px #ccece5;
}