<ion-header no-border>
  <ion-toolbar>
    <ion-title>Materias</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Filtro semestres -->
<ion-label color="light">Filtrar por Semestres</ion-label>
<ion-segment [(ngModel)]="segment" scrollable>
  <ion-segment-button value="first">
    <i class="fas fa-dice-one"></i>
  </ion-segment-button>
  <ion-segment-button value="second">
    <i class="fas fa-dice-two"></i>
  </ion-segment-button>
  <ion-segment-button value="third">
    <i class="fas fa-dice-three"></i>
  </ion-segment-button>
  <ion-segment-button value="four">
    <i class="fas fa-dice-four"></i>
  </ion-segment-button>
  <ion-segment-button value="five">
    <i class="fas fa-dice-five"></i>
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="segment">
  <ion-card *ngSwitchCase="'first'">
    <ion-card-header>
      First Content
    </ion-card-header>
    <ion-card-content>
      First Content here
    </ion-card-content>
  </ion-card>

  <ion-card *ngSwitchCase="'second'">
    <ion-card-header>
      Second Header
    </ion-card-header>
    <ion-card-content>
      Second content here
    </ion-card-content>
  </ion-card>

  <ion-card *ngSwitchCase="'third'">
    <ion-card-header>
      Third Header
    </ion-card-header>
    <ion-card-content>
      Third content
    </ion-card-content>
  </ion-card>
</div>


<ion-grid>
    <ion-row>
      <ion-col size="6"  *ngFor="let item of listaMaterias |filtro: textoBuscar let i = index"  (click)="detalleMateria(item)">
        <ion-card>
          <ion-card-content>
            <ion-badge class="ion-text-start" color="warning">{{i+1}}</ion-badge>
            <div class="ion-text-center">
        <ion-avatar>
          <img src="/assets/img/logo.png">
        </ion-avatar>
        <p>{{item.nombre}}</p>
        <small>Nivel: {{item.nivel}}</small>
      </div>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>



</ion-content>


