<div class="app-body" style="background-color: white;">
  <main class="main align-items-center">
    <div style="text-align: center; margin: auto; padding: 10px 0px;">
      <div class="row">
        <div class="col-4">
          <img src="assets/img/imagenes/epn_logo.png" style="max-width: 40%" alt="epn_logo">
        </div>
        <div class="col-4" style="margin: auto;">
          <h1>HOLA MUNDO</h1>
        </div>
        <div class="col-4">
          <img src="assets/img/imagenes/esfot_logo.png" style="max-width: 40%" alt="esfot_logo">
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-4" style="margin: auto;">
        <div class="card mt-5">
          <div class="card-body">
<h2 style="text-align: center;">Recuperar Contraseña</h2>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" [formControl]="email" required />
                <label >
                  * Ingrese su correo.
                </label>
              </div>

              <div class="d-grid gap-2 mt-3">

                <button class="btn btn-primary btn-lg" type="button" (click)="onReset()">Enviar</button>
              </div>

              <br>
              <a href="/login">Iniciar sesión</a>

            </form>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>