<div class="animated fadeIn">
    <div>
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h4>{{carrera}} / <span style="font-size: large;">{{idMat}}</span> / <span
                        style="font-size: medium;">{{publicacion.titulo}}</span></h4>
            </div>

            <div class="card-body">
                <form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave(publicacionForm.value)" [formGroup]="publicacionForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <h5>Información de Publicación: </h5>
                            <label for="exampleFormControlInput1">Título: </label>
                            <input type="text" class="form-control" formControlName="titulo" style="width: 50%;">
                            <br>
                            <label for="exampleFormControlInput2">Descripción: </label>
                            <input type="textarea" class="form-control" formControlName="descripcion"
                                style="width: 100%;">
                            <br>
                            <label for="exampleFormControlInput3">Archivo: </label>
                            <a href="{{publicacion.file}}" target="_blank">Ver archivo</a>

                            <input type="file" class="form-control" placeholder="Archivo.pdf" formControlName="file"
                                accept=".pdf ,.docx ,.xlsx" (change)="uploadFile($event)">
                            <div class="spinner-border" role="status" *ngIf="progreso==true">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                            <input #FileUrlUser type="hidden" [value]="urlFile |async">
                            <!-- 
                                <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(publicacion.file)" height="600" width="100%"></iframe>                            <br>
                            -->

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </form>

                <div class="col-md-5">
                    <button type="button" class="btn btn-dark" (click)="goBack()" style="color: white;">Regresar a
                        publicaciones</button>
                </div>
                <br>
                <hr>

                <div class="row">
                    <div class="col-12">
                        <h5>COMENTARIOS</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Texto</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-info" *ngFor="let item of listarComentarios">
                                        <th scope="row">{{ item.nameUser}} {{ item.apellUser}}</th>
                                        <th scope="row">{{ item.texto}}</th>
                                        <td role="group">
                                            <button type="button" class="btn btn-outline-danger m-1"
                                                (click)="onGoToDelete(item.id)">
                                                <i class="cil-trash" style="color: red;"> Eliminar</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>