<div class="animated fadeIn">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h2><i class="cil-file"></i> Archivo</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Tarea Algoritmos" required style="width: 50%;">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Carrera</label>
                        <select class="form-control" id="semestre1" style="width: 50%;">
                            <option>Desarrollo de Software</option>
                            <option>Electromecánica</option>
                            <option>Redes y Telecomunicaciones</option>
                            <option>Agua y Saneamiento ambiental</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Semestre referencial</label>
                        <select class="form-control" id="semestre1" style="width: 50%;">
                            <option>1er Semestre</option>
                            <option>2do Semestre</option>
                            <option>3er Semestre</option>
                            <option>4to Semestre</option>
                            <option>5to Semestre</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Materia</label>
                        <select class="form-control" id="semestre1" style="width: 50%;">
                            <option>Programación</option>
                            <option>Redes</option>
                            <option>Base de datos</option>
                            <option>Sistemas operativos</option>
                            <option>Interfaces</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Tipo de archivo</label><br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Tarea</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Cuestionario</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Descripción</label>
                        <input class="form-control" type="text" placeholder="Descripción" id="descrip" style="width: 50%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>