<div class="animated fadeIn">
    <div>
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h2>{{materia.nombre}}</h2>
            </div>

            <div class="card-body">
                <form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="materiaForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <h5>Información de Materia: </h5>
                            <label for="exampleFormControlInput1">Nombre: </label>
                            <input type="text" class="form-control" formControlName="nombre" style="width: 50%;">
                            <br>
                            <label for="exampleFormControlInput2">Semestre: </label>
                            <select id="nivel" class="form-control" style="width: 50%;" formControlName="nivel">
                                <option value="1">1er Semestre</option>
                                <option value="2">2do Semestre</option>
                                <option value="3">3er Semestre</option>
                                <option value="4">4to Semestre</option>
                                <option value="5">5to Semestre</option>
                            </select>
                            <br>
                            <label for="exampleFormControlInput2">Horas: </label>
                            <input type="number" class="form-control" formControlName="numHoras" style="width: 50%;">
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                </form>

                <div class="col-md-5">
                    <button type="button" class="btn btn-dark" (click)="goBack()"
                        style="color: white;">Regresar a Materias</button>
                </div>
                <br>
                <hr>

                <h5>NUEVA PUBLICACIÓN: </h5>

          <form class="mt-3 col-md-6 offset-md-2" (ngSubmit)="savePublicacion(publicacionForm.value)" [formGroup]="publicacionForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Título" formControlName="titulo"
                  [class]="isValidFieldP('titulo')">
                <div class="invalid-feedback">
                  <span *ngIf="publicacionForm.get('titulo').errors?.required">
                    Este campo es requerido.
                  </span>
                </div>

                <br>

                <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion"
                  [class]="isValidFieldP('descripcion')">
                <div class="invalid-feedback">
                  <span *ngIf="publicacionForm.get('descripcion').errors?.required">
                    Este campo es requerido.
                  </span>
                </div>

                <br>

                <select id="categoria" class="form-control" formControlName="categoria"
                  [class]="isValidFieldP('categoria')">
                  <option value="Tarea">Tarea</option>
                  <option value="Cuestionario">Cuestionario</option>
                  <option value="Proyecto">Proyecto</option>
                </select>
                <div class="invalid-feedback">
                  <span *ngIf="publicacionForm.get('categoria').errors?.required">
                    Este campo es requerido.
                  </span>
                </div>

                <br>
                <input type="hidden" class="form-control" placeholder="Carrera" formControlName="idCarrera"
                  value="{{materia.idCarrera}}" disabled>

                <input type="hidden" class="form-control" placeholder="Materia" formControlName="idMateria"
                  value="{{materia.id}}" disabled>

                <input type="hidden" class="form-control" placeholder="Fecha" formControlName="fecha"
                  value="01/01/2021" disabled>

                <input type="hidden" class="form-control" placeholder="Nombre de Usuario" formControlName="nameUser"
                  value="{{nameUser}}" disabled>

                <input type="hidden" class="form-control" placeholder="Apellido de Usuario" formControlName="apellUser"
                  value="{{apellUser}}" disabled>

                <input type="hidden" class="form-control" placeholder="ID de Usuario" formControlName="idUser"
                  value="{{idUserPubli}}" disabled>

              </div>

              <div class="form-group col-md-6">
                <input type="file" class="form-control" placeholder="Archivo.pdf" formControlName="file"
                accept=".pdf ,.docx ,.xlsx" (change)="uploadFile($event)" >
                
                <div class="spinner-border" role="status" *ngIf="progreso==true">
                  <span class="visually-hidden" >Cargando...</span>
                </div>
                <input #FileUrlUser  type="hidden" [value]="urlFile |async" >

                <br>

                <input type="hidden" class="form-control" placeholder="Likes: 0" formControlName="likes"
                  value="0" disabled>

              </div>
            </div>

            <button type="submit" class="btn bg-success btn-block text-light">Crear Publicación</button>
          </form>

                <br>
                <hr>


                <div class="row">
                    <div class="col-12">
                        <h5>TAREAS Y CUESTIONARIOS</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-info" *ngFor="let item of listarPublicaciones">
                                        <th scope="row">{{ item.titulo}}</th>
                                        <th scope="row">{{ item.descripcion}}</th>
                                        <td role="group">
                                            <button type="button" class="btn btn-outline-success m-1"
                                                (click)="onGoToSee(item)">
                                                <i class="cil-info" style="color: green;"> Ver Archivo</i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger m-1"
                                                (click)="onGoToDelete(item.id)">
                                                <i class="cil-trash" style="color: red;"> Eliminar</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>