<div class="animated fadeIn">
    <div>
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h2>Programación</h2>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Información</h5>
                        <label for="exampleFormControlInput1">Nombre: </label>
                        <input type="text" class="form-control" id="names" value="Programación" required>
                        <br>
                        <label for="exampleFormControlInput1">Semestre: </label>
                        <select class="form-control" id="semestre1" style="width: 50%;">
                            <option>1er Semestre</option>
                            <option>2do Semestre</option>
                            <option>3er Semestre</option>
                            <option>4to Semestre</option>
                            <option>5to Semestre</option>
                        </select>
                        <br>
                        <label for="exampleFormControlInput1">Descripción: </label>
                        <input type="text" class="form-control" id="names" value="Materia Programación" required>
                        <br>
                        <button type="button" class="btn btn-success">Guardar Cambios</button>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-9">
                        <h5>Tareas y Cuestionarios</h5>
                    </div>
                    <div class="col-2">
                        <a href="#/carreras/archivo">
                            <button type="button" class="btn btn-success">Nuevo archivo</button>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Archivo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>archivo1.pdf</td>
                                    <td>
                                        <a href="#/carreras/infor-archivo">
                                            Tarea Sistemas
                                        </a>
                                    </td>
                                    <td style="font-size: xx-large;width: 25%;">
                                        <a href="#/carreras/archivo">
                                            <i class="cil-pencil"></i>
                                        </a>
                                        <i class="cil-trash" style="color: red;"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>archivo2.pdf</td>
                                    <td>
                                        <a href="#/carreras/infor-archivo">
                                        Tarea Redes
                                    </a>
                                </td>
                                    <td style="font-size: xx-large;width: 25%;">
                                        <a href="#/carreras/archivo">
                                            <i class="cil-pencil"></i>
                                        </a>
                                        <i class="cil-trash" style="color: red;"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Archivo3.pdf</td>
                                    <td>
                                        <a href="#/carreras/infor-archivo">
                                            Tarea Algoritmos
                                        </a>
                                    </td>
                                    <td style="font-size: xx-large;width: 25%;">
                                        <a href="#/carreras/archivo">
                                            <i class="cil-pencil"></i>
                                        </a>
                                        <i class="cil-trash" style="color: red;"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>