ion-content{
  --background: #115571;
}

ion-button{
  --background: #115571;
  --color: white;
}

ion-button:hover{
  --background:#90edd9 ;
  --color: black;
}

ion-input{
  --font-weight: bold;
  --text-transform: capitalize;
}

ion-textarea{
--height: 150px;
}

