ion-content{
  --background: #115571;
}

ion-button{
  --background: #115571;
  --color:white;
  --border-radius:20px
}



ion-input{
  --font-weight: bold;
  --text-transform: capitalize;
}

ion-textarea{
--height: 150px;
}

