ion-content{
    --background: #115571;
}


.subir:hover{
    color:#fff;
    background: #115571;
}

ion-button{
    --background: #115571;
    --color: white;
  }
  
  ion-button:hover{
    --background:#90edd9 ;
    --color: black;
  }
  