.comentario{
  font-size:12px ;
  }

  .fixed {
    right: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
   }

   .btnComm{
    font-size:11px ;
   }
   .warning{
    font-size:10px ;
   }
   small{
     color: blue;
   }
