
ion-button {
  --background: #115571;
  --border-radius: 20px;
}
ion-content{
  --background: #115571;
}

.cameraIcon{
  color: #115571;
  font-size: 35px;
}
img{   
  border-radius: 50%;
  width: 30%;
  }
  ion-card-subtitle{
    font-weight: bold;
  }