<div class="animated fadeIn">
    <div>
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h2>INICIO</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" style="text-align: center; margin: auto;">
                        <div class="row" style="height: 240px; display: table-cell; vertical-align: middle;">
                            <a href="https://www.epn.edu.ec/" target="_blank">
                                <img src="assets/img/imagenes/epn_logo.png" alt="epn" width="60%" height="auto"
                                    title="Página oficil de la EPN">
                            </a>
                        </div>
                        
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Escuela Politécnica Nacional</h5>
                                <h6 class="card-subtitle mb-2 text-muted">EPN</h6>
                                <figure>
                                    <blockquote class="blockquote">
                                      <p>La Escuela Politécnica Nacional es una Universidad pública, laica y 
                                          democrática que garantiza la libertad de pensamiento de todos sus 
                                          integrantes, quienes están comprometidos con aportar de manera 
                                          significativa al progreso del Ecuador...</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                      Recuperado de: <cite title="Source Title">https://www.epn.edu.ec/institucion/mision-y-vision/</cite>
                                    </figcaption>
                                  </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: center; margin: auto;">
                        <div class="row" style="height: 240px; display: table-cell; vertical-align: middle;">
                            <a href="https://esfot.epn.edu.ec/" target="_blank">
                                <img src="assets/img/imagenes/esfot_logo.png" alt="esfot" width="60%" height="auto"
                                    title="Página oficil de la ESFOT">
                            </a>
                        </div>
                        
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Escuela de Formación de Tecnólogos</h5>
                                <h6 class="card-subtitle mb-2 text-muted">ESFOT</h6>
                                <figure>
                                    <blockquote class="blockquote">
                                      <p>Los Tecnólogos de la Escuela Politécnica Nacional (EPN) tienen 
                                          una historia que empieza en 1967. Nace como parte de la Facultad 
                                          de Ingeniería Eléctrica, independizándose a través del entonces 
                                          Centro de Cómputo, para luego en 1987, constituirse en el 
                                          Instituto de Tecnólogos...</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                      Recuperado de: <cite title="Source Title">https://esfot.epn.edu.ec/index.php/quienes-somos</cite>
                                    </figcaption>
                                  </figure>
                            </div>
    
                        </div>
                        
                    </div>
                </div>

                <hr style="box-shadow: 2px 2px 5px #999;">
                <br>

                <div class="row">
                    <div class="col-md-6" style="text-align: center; margin: auto;">
                        <div class="row" style="height: 240px; display: table-cell; vertical-align: middle;">
                            <a href="https://www.cec-epn.edu.ec/" target="_blank">
                                <img src="assets/img/imagenes/cec_logo.png" alt="cec" width="80%" height="auto"
                                    title="Página oficil del CEC">
                            </a>
                        </div>
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Centro de Educación Continua</h5>
                                <h6 class="card-subtitle mb-2 text-muted">CEC</h6>
                                <figure>
                                    <blockquote class="blockquote">
                                      <p>Somos un centro de formación profesional que ofrece servicios de 
                                          capacitación y consultoría a la medida y con excelencia. 
                                          Trabajamos con profesionales altamente calificados y con tecnología 
                                          avanzada para aportar al desarrollo y a la competitividad de nuestros clientes.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                      Página del CEC: <cite title="Source Title">https://www.cec-epn.edu.ec/</cite>
                                    </figcaption>
                                  </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="text-align: center; margin: auto;">
                        <div class="row" style="height: 240px; display: table-cell; vertical-align: middle;">
                            <a href="https://saew.epn.edu.ec/" target="_blank">
                                <img src="assets/img/imagenes/saew_logo.PNG" alt="saew" width="70%" height="auto"
                                    title="Página del SAEW">
                            </a>
                        </div>
                        <div class="card" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Sistema de Administración Estudiantil</h5>
                                <h6 class="card-subtitle mb-2 text-muted">SAEW</h6>
                                <figure>
                                    <blockquote class="blockquote">
                                      <p>El Sistema de Administración Estudiantil SAEW ( https://saew.epn.edu.ec ) 
                                          permite a aspirantes estudiantes, y demás personal académico de la Institución, 
                                          acceder a distintos servicios. </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                      Recuperado de: <cite title="Source Title">https://www.epn.edu.ec/sistema-de-administraci%C3%B3n-e-informaci%C3%B3n-estudiantil-saew/</cite>
                                    </figcaption>
                                  </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <hr style="box-shadow: 2px 2px 5px #999;">
                <br>

                <div>

                </div>
            </div>
        </div>
    </div>
</div>