ion-content{
    --background: url('https://i.pinimg.com/564x/c5/b3/48/c5b3481b3d024fc676d6913d0a70ecdb.jpg')no-repeat center center / cover;
  }

  ion-card{
    color: black;
  }

  ion-button{
    --background: #115571;
   --color:white;
   --border-radius:20px
   
  }