ion-content{
    --background: #115571;
  
  }

ion-label{
    color:white !important;
}

  ion-input{
      --background: white;
      --color: black;
      border-radius: 20px;
  }
  img{   
    border-radius: 50%;
    width: 30%;
    }
   