ion-content{
  --background: url('https://i.pinimg.com/236x/05/41/6b/05416b8b20b9b861be5f7de16ca11546.jpg') no-repeat center center / cover;
//--background: #115571;
//naturaleza resis https://i.pinimg.com/564x/bc/58/a1/bc58a1a319d21fc9b23ece4aec2dd547.jpg
}
ion-card{
  background: #53667785;
  color: white;
}