<ion-header>
  <ion-toolbar>
    <ion-title> {{materiaName}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">

    <ion-segment-button value="first">
      <ion-label>Task</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="second">
      <ion-label>Form</ion-label>
      <ion-icon name="clipboard"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="third">
      <ion-label>Project</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-segment-button>

  </ion-segment>


  <!-- TAREAS -->

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'first'">
     
      <ion-card *ngIf="tareas0">
        <ion-card-content>
          <label>No hay Tareas Publicadas</label>
        </ion-card-content>
        
      </ion-card>



      <ng-container *ngFor="let item of listaTareas">
        <ion-card  *ngIf="item.categoria=='Tarea'">
          <ion-card-content>
            <ion-grid>
            <ion-row >

              <ion-col class="ion-align-self-center">
                <img src="/assets/icon/pdf.png" alt="file.png">
              </ion-col>
              <ion-col size="8" class="ion-text-center">
                <b>titulo:{{item.titulo}}</b>
                <ion-list>
                  <ion-button color="light" size="small" href="{{item.file}}" target="_blank">
                    <ion-icon name="download"></ion-icon>
                  </ion-button>
                  <ion-button color="light" size="small">
                    <ion-icon class="heart" name="heart-dislike"></ion-icon>
                  </ion-button>
                </ion-list>
  
  
              </ion-col>
              <ion-col size="2" class="ion-align-self-center">
                <a routerLink="/menu/detalle-tarea" (click)="infoTarea(item)">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
          </ion-card-content>
        </ion-card>
      </ng-container>
      

    </div>



    <!-- CUESTIONARIOS -->
    <div *ngSwitchCase="'second'">

      
        <ion-card *ngIf="cuestionarios0">
          <ion-card-content>
            <label>No hay Cuestionarios Publicados</label>
          </ion-card-content>
          
        </ion-card>



        <ng-container *ngFor="let item of listaTareas">
          <ion-card  *ngIf="item.categoria=='Cuestionario'">
            <ion-card-content>
              <ion-grid>
              <ion-row >

                <ion-col class="ion-align-self-center">
                  <img src="/assets/icon/pdf.png" alt="file.png">
                </ion-col>
                <ion-col size="8" class="ion-text-center">
                  <b>titulo:{{item.titulo}}</b>
                  <ion-list>
                    <ion-button color="light" size="small" href="{{item.file}}" target="_blank">
                      <ion-icon name="download"></ion-icon>
                    </ion-button>
                    <ion-button color="light" size="small">
                      <ion-icon class="heart" name="heart-dislike"></ion-icon>
                    </ion-button>
                  </ion-list>
    
    
                </ion-col>
                <ion-col size="2" class="ion-align-self-center">
                  <a routerLink="/menu/detalle-tarea" (click)="infoTarea(item)">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-container>
        
       

    </div>


    <!-- PROYECTOS -->

    <div *ngSwitchCase="'third'">
      <ion-card *ngIf="proyectos0">
        <ion-card-content>
          <label>No hay Proyectos Publicados</label>
        </ion-card-content>
        
      </ion-card>



      <ng-container *ngFor="let item of listaTareas">
        <ion-card  *ngIf="item.categoria=='Proyecto'">
          <ion-card-content>
            <ion-grid>
            <ion-row >

              <ion-col class="ion-align-self-center">
                <img src="/assets/icon/pdf.png" alt="file.png">
              </ion-col>
              <ion-col size="8" class="ion-text-center">
                <b>titulo:{{item.titulo}}</b>
                <ion-list>
                  <ion-button color="light" size="small" href="{{item.file}}" target="_blank">
                    <ion-icon name="download"></ion-icon>
                  </ion-button>
                  <ion-button color="light" size="small">
                    <ion-icon class="heart" name="heart-dislike"></ion-icon>
                  </ion-button>
                </ion-list>
  
  
              </ion-col>
              <ion-col size="2" class="ion-align-self-center">
                <a routerLink="/menu/detalle-tarea" (click)="infoTarea(item)">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
          </ion-card-content>
        </ion-card>
      </ng-container>
      

    </div>

  </div>


</ion-content>
