<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of publicaciones">

    <ion-item>

      <ion-avatar>
        <img src="/assets/img/marty-avatar.png">
      </ion-avatar>
      <small> {{item.nameUser}} {{item.apellUser}}</small>
      <!-- <ion-note slot="end" color="primary"> {{item.fecha.toDate()|date }}</ion-note> -->


    </ion-item>


    <img src="/assets/icon/pdf.png" alt="">



    <ion-card-content>
      <p>{{item.descripcion}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          {{item.likes}} Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          4 Comments
        </button>
      </ion-col>
      <ion-col center text-center>

        <!-- <p color="primary"> {{item.fecha.toDate()|date:'h:mm a'}}</p> -->
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-button routerLink="/new-publicacion">
    ADD
  </ion-button>

</ion-content>
