<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of publicaciones">

    <ion-item>
      <ion-avatar>
        <img src="/assets/img/marty-avatar.png">
      </ion-avatar>
      <small><b>{{item.nameUser}} {{item.apellUser}}</b> </small>
       <ion-text slot="end" color="secondary" class="fechaPubli"> {{item.fecha.toDate() | date:'MMM d, y'}}</ion-text>

    </ion-item>


    <img src="/assets/icon/pdf.png" alt="">



    <ion-card-content>
      <p>{{item.descripcion}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button size="small" ion-button color="primary" clear small icon-start>
          <ion-icon name="star"></ion-icon>
          {{item.likes}}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" ion-button color="primary" clear small icon-start >
          <ion-icon name="chatbubble-ellipses"></ion-icon>
          <ion-label>4 </ion-label>
        </ion-button>
      </ion-col>
      <ion-col center text-center>

        <ion-note color="secondary"> {{item.fecha.toDate()|date:'h:mm a'}}</ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="warning" routerLink="/new-publicacion">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
