<ion-header>
  <ion-toolbar>
    <ion-title>misArchivos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of misArchivos">

    <ion-grid>
       <ion-row >
        <ion-col size="2" class="ion-align-self-center" (click)="infoTarea(item)"  style="font-size: 42px; color:#000000 ;">
          <i class="far fa-file-alt"></i>
        </ion-col>
        <ion-col size="6"  class="ion-text-center"  (click)="infoTarea(item)">
          <b class="ion-text-uppercase">{{item.titulo}}</b>         
        </ion-col >

        <ion-col size="4" class="ion-align-self-center"  >
          <ion-buttons>
            <ion-button>
              <ion-button size="small"><ion-icon name="create"></ion-icon></ion-button>
              <ion-button size="small"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>

    </ion-grid>
</ion-card>




</ion-content>

