
<ion-content>
  <div class="container">
    <div class="ion-text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/tesis-3fc38.appspot.com/o/infoApp%2Flogo.png?alt=media&token=94f95225-ca69-400a-ae87-0915a3aef01b" alt="">

    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Acerca de:</ion-card-subtitle>
        <ion-card-title ><b>PEER-KNOW</b></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        PEER-KNOW es una aplicación móovil para estudiantes de la ESFOT aquí pueden 
        subir tareas resueltas o no, publicar cuestionarios, 
        realizar preguntas, contribuir con respuestas dentro de cada publicacion y establecer una comunicación privada entre 
        estudiantes.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-icon name="person-circle"></ion-icon>
        <ion-label><b>Modo de Ingreso</b></ion-label>
        <ion-label  slot="end">
          <img src="https://firebasestorage.googleapis.com/v0/b/tesis-3fc38.appspot.com/o/infoApp%2Ficon.png?alt=media&token=35ac15dc-8302-49f4-bfbb-4a27781082fc" width="30px" alt="">
        </ion-label>
      </ion-item>
    
      <ion-card-content>
        El estudiante que ingrese por primera luego de registrarse, no puede publicar ningún contenido, el estudiante únicamente puede comentar en las publicaciones realizadas por los administradores desde la página web.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <img src="https://cdn-icons-png.flaticon.com/512/3240/3240848.png" width="35px" alt="">
        <ion-label><b>Entonces que puedo hacer?</b></ion-label>
     
      </ion-item>

      <ion-item  class="ion-activated" (click)="infoOption1()">
        <ion-icon name="chatbubble"></ion-icon>
        <ion-label>Comentar publicaciones</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
    
      <ion-item class="ion-activated" (click)="infoOption2()">
        <ion-icon name="star"></ion-icon>
        <ion-label>Calificar  comentarios </ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>      
        </ion-note>
      </ion-item>
      
      <ion-item class="ion-activated" (click)="infoOption3()">
        <ion-icon name="thumbs-up"></ion-icon>
        <ion-label>Calificar publicaciones</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
    
      <ion-item class="ion-activated" (click)="infoOption4()">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Visualizar materias</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item class="ion-activated" (click)="infoOption5()">
        <ion-icon name="book"></ion-icon>
        <ion-label>Ver tareas, cuestionarios, proyectos </ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item class="ion-activated" (click)="infoOption6()">
        <ion-icon name="arrow-down-circle"></ion-icon>
        <ion-label>Descargar archivos</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
    
      <ion-item class="ion-activated" (click)="infoOption7()">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <ion-label>Chatear</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
  

      <ion-item class="ion-activated" (click)="infoOption8()">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Agregar a favoritos</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item >

    

      <ion-item class="ion-activated" (click)="infoOption9()">
        <ion-icon name="hammer"></ion-icon>
        <ion-label>Reportar comentarios y...</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item class="ion-activated" (click)="infoOption10()">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>Subir mis tareas</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item class="ion-activated" (click)="infoOption11()">
        <ion-icon name="star-half"></ion-icon>
        <ion-label>Ver mis puntos</ion-label>
        <ion-note slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
      

    </ion-card>

   

    

  </div>


</ion-content>
